<div class="nhsuk-footer nhsd-footer" id="nhsuk-footer">
  <div class="nhsuk-grid-column-one-third">
    <h3>Suppliers' Guide</h3>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="marketing-page">About the Catalogue</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="marketing-page">Process Overview</a></li>
    </ul>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h3>Contact Us</h3>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="marketing-page">Catalogue submissions</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="marketing-page">NHS Digital service desk</a></li>
    </ul>
  </div>
  <div class="nhsuk-grid-column-one-third">
    <h3>Further Information</h3>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="marketing-page">NHS Digital</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="marketing-page">Capabilities and Standards Model</a></li>
    </ul>
  </div>
</div>
